nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid gray;
  z-index: 5;
  background-color: rgb(0, 0, 0, 0.7);
  .nav-inner {
    width: 100%;
    display: flex;
    align-items: center;
    .logo {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
      }
    }
    .nav-texts {
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      padding: 40px 0;
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      .nav-link {
        font-weight: bold;
        color: white;
      }
      .nav-link.active {
        color: #ffc515;
      }
    }
    .call {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      p {
        color: #ffc515;
      }
      i,
      span {
        color: white;
        font-weight: bold;
      }
    }
    .fa-bars,
    .fa-xmark {
      font-size: 1.2em;
      color: white;
      display: none;
    }
  }
}

.scroll {
  background-color: rgb(0, 0, 0, 0.7);
}

@media screen and (max-width: 577px) {
  nav {
    .nav-inner {
      justify-content: space-between;
      padding: 0 20px 0 0;
      .logo {
        width: 40%;
      }
      .nav-texts {
        display: none;
      }
      .call {
        display: none;
      }
      .fa-bars,
      .fa-xmark {
        display: block;
      }
    }
  }
}
